Assignment

1. Read the Microsoft Data using Pandas Data reader
2. Get the maximum price of the share from 2017 to 2022
3. Which is the date of the highest price of the stock?
4. Which is the date of the lowest price of the stock?

In [2]:
%%time
#Q1:
import pandas_datareader as pdr
import yfinance as yf
import pandas as pd
df_microsoft = yf.download('MSFT')
df_microsoft

[*********************100%***********************]  1 of 1 completed
Wall time: 5.26 s

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1986-03-13,0.088542,0.101563,0.088542,0.097222,0.060657,1031788800
1986-03-14,0.097222,0.102431,0.097222,0.100694,0.062823,308160000
1986-03-17,0.100694,0.103299,0.100694,0.102431,0.063907,133171200
1986-03-18,0.102431,0.103299,0.098958,0.099826,0.062281,67766400
1986-03-19,0.099826,0.100694,0.097222,0.098090,0.061198,47894400
...,...,...,...,...,...,...
2023-04-24,282.089996,284.950012,278.720001,281.769989,281.769989,26611000
2023-04-25,279.510010,281.600006,275.369995,275.420013,275.420013,45772200
2023-04-26,296.700012,299.570007,292.730011,295.369995,295.369995,64599200
2023-04-27,295.970001,305.200012,295.250000,304.829987,304.829987,46462600
2023-04-28,304.010010,308.929993,303.309998,307.260010,307.260010,36446700

In [5]:
#Q2:
df_microsoft['2017-01-01':'2022-12-31']['High'].max()

349.6700134277344

In [18]:
#Q3:
df_microsoft['2017-01-01':'2022-12-31']['High'].idxmax()

Timestamp('2021-11-22 00:00:00')

In [19]:
#Q4:
df_microsoft['2017-01-01':'2022-12-31']['High'].idxmin()

Timestamp('2017-01-05 00:00:00')

In [20]:
type(df_microsoft)

pandas.core.frame.DataFrame